@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.flex {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    perspective: 1000px;
}

.card {
    width: 450px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    transition: all 400ms;
}
.card-header {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 1.5rem 0;
    transition: all 400ms;
    border-bottom: 1px solid #E8E9ED;
}
.card-icon {
    width: 50px;
    height: 50px;
    display: flex;
    background: #F5F7FC;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 8px;
}
.title {
    color: #3ECE80;
    font-size: 24px;
    letter-spacing: 1px;
}
.subtitle {
    color: #393D5C;
    color: #777A8F;
}
.card-body {
    display: flex;
    width: 100%;
}
.card-body__item {
    padding: 1.25rem;
    flex: 1;
}

.card-body__item:first-child {
    border-right: 1px solid #E8E9ED;
}
.card-body__title {
    font-size: 16px;
    color: #777A8F;
    font-weight: 200;
}
.card-body__subtitle {
    color: #1D2145;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}